# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
#
# SPDX-License-Identifier: ISC

# Project Specific
apywire/**.c
site/
/examples/cli/app_config.toml
/examples/cli/app_wiring.py
/examples/cli/config.json
/examples/cli/config.toml
/examples/cli/config.ini

# General
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.mypy_cache/
.pytest_cache/
.coverage
*.egg-info/
dist/
build/
.tmp
